.header-button {
  color: white;
}

.header-title {
  color: white !important;
}

.header-bg {
  background-color: #121212;
}

.header-font-size {
  font-size: 22px;
}

.header-sizes {
  width: 240px;
  height: 100%;
}
