<div class="d-flex align-items-center h-100 header-bg">
  @if (viewSidebar) {
  <div
    class="px-5 ps-5 py-2 d-flex justify-content-center align-items-center header-sizes"
  ></div>
  }
  <div class="px-1 ps-3 pb-2">
    <button
      (click)="showMenu()"
      class="header-button"
      mat-icon-button
      matTooltip="{{ viewSidebar ? 'Cerrar' : 'Abrir' }}"
    >
      <mat-icon svgIcon="bars-solid" ></mat-icon>
    </button>
  </div>
  <div class="header-title ps-3 mx-auto text-primary header-font-size">
    PopCornTime
  </div>
  <div class="me-2 pb-2">
    <button
      class="header-button"
      [matMenuTriggerFor]="menu"
      mat-icon-button
      matTooltip="Configuraciones"
    >
      <mat-icon svgIcon="gear-solid"></mat-icon>
    </button>
  </div>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon svgIcon="user-solid"></mat-icon>
    <span>Mi perfil</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon svgIcon="circle-xmark-solid"></mat-icon>
    <span>Cerrar sesión</span>
  </button>
</mat-menu>
