.menu-item-text {
  font-size: 13px;
}

.select {
  cursor: pointer;
}

.item-select {
  color: #FFD700 !important;
}

.size-font-item {
  font-size: 14px;
}

nav {
  background-color: #121212;
}

.not-select-item {
  color: white;
}

.router-link-active {
  color: #FFD700 !important;
}
