<nav
  class="sidebar sidebar-offcanvas side h-100 d-flex flex-column"
  id="sidebar"
>
  <div class="text-center pt-3 pb-4">
    <img src="assets/images/logo-cine.png" width="100" alt="brm-user" />
    <h4 class="pt-3 color-white">Catalogo</h4>
    <mat-divider></mat-divider>
  </div>
  <ul class="container" *ngFor="let menu of sideMenu">
    <h6 class="mb-4">{{ menu.description }}</h6>
    <li
      *ngFor="let child of menu.childs"
      class="select"
      (click)="navigateTo(child)"
    >
      <p
        [ngClass]="
          getSelected(child)
            ? 'item-select size-font-item'
            : 'size-font-item not-select-item'
        "
      >
        {{ child.description  }}
      </p>
    </li>
  </ul>
</nav>
