$heigth-main-header: 60px;

.main-header {
  height: $heigth-main-header;
  border-bottom: 1px solid #e0e0e0;
}

.main-content {
  width: 100%;
  height: calc(100vh - $heigth-main-header);
  .sidebar {
    min-width: 70px;
    width: 296px;
    position: absolute;
    height: 100%;
  }
}
